extends layout

block content
	a.pull-right(href="/blog/new/") New
	h2= title
	- each article in articles
		.row-fluid.blog
			.span12
				div.article
					div.created_at= article.created_at
					div.title
						a(href="/blog/"+article._id.toHexString())= article.title
					div.body= article.body