body.blog
  font-family "Helvetica Neue", "Lucida Grande", "Arial"
  font-size 13px
  text-align center
  text-stroke 1px rgba(255, 255, 255, 0.1)
  color #555

h1
  text-shadow 1px 2px 2px #ddd
.blog
  text-align left
  margin-left auto
  margin-right auto
  width 400px
  .row-fluid
    margin-top 20px
  .article
    margin 20px
    .created_at
        display none
        font-size 8px
    .title
        font-size 20px
        font-weight bold
        text-decoration underline
    .body
        margin-top 10px
        background-color white

textarea
  resize none